<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Future of Development</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="static/app/styles.css">
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Stats</a></li>
          <li><a href="#">API</a></li>
          <li><a href="https://github.com/adrianpietka/langs">Source</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Future of Development</h3>
    </div>

    <div id="gitHubStats" class="report-group">
      <p class="alert alert-info loading">Loading GitHub statistics...</p>
      <div class="content">
        <h4>Stats:</h4>
        <div class="well">
          <div class="latest">Latest repository: <a href="#"></a> (<span></span>)</div>
          <div class="oldest">Oldest repository: <a href="#"></a> (<span></span>)</div>
          <div class="processed">Processed: <b>0</b> (<span></span>% of total)</div>
          <div class="total">Total: <b>0</b></div>
        </div>
      </div>
    </div>

    <div id="gitHubRepositories" class="report-group">
      <p class="alert alert-info loading">Loading programming language from GitHub...</p>
      <div class="content">
        <h4>Top 10:</h4>
        <div id="gitHubTopTenTable"></div>

        <h4>Percent of all repositories:</h4>
        <div id="gitHubPercentRepositories"></div>
      </div>
    </div>

    <div id="gitHubNewRepositoriesTrend" class="report-group">
      <p class="alert alert-info loading">Loading new repositories trend...</p>
      <div class="content">
        <h4>New repositories trend:</h4>
        <div id="gitHubNewRepositories"></div>
      </div>
    </div>

    <footer class="footer">
      <p>by <a href="https://twitter.com/adrian_pietka">@adrian_pietka</a>.</p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script src="static/libs/d3.pie.js"></script>
  <script src="static/libs/d3.legend.js"></script>
  <script src="static/app/tabulate.js"></script>
  <script src="static/app/language-stats.js"></script>
  <script src="static/app/global-stats.js"></script>
  <script src="static/app/new-repositories-monthly.js"></script>

  <script>
    $(document).ready(function() {
      globalStats();
      languageStats();
      newRepositoriesMonthly();
    });
  </script>
</body>
</html>