<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Future of Development</title>
  <meta name="description" content="Future of Development - Technology trends based on analysis GitHub repositories.">
  <meta name="keywords" content="technology trends, tech radar, top programming language">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="static/app/styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Future of Development</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://github.com/adrianpietka/langs#web-application---endpoints">API</a></li>
          <li><a href="https://github.com/adrianpietka/langs">Fork on GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" id="project">
    <div class="container">
      <div class="row">
        <div class="col-md-8 description">
          <h1>Technology trends</h1>
          <p>Programming language trend - analysis <a href="https://github.com">GitHub</a> repositories.</p>
          <div id="global-stats">
            <p class="alert alert-info loading">Loading statistics...</p>
            <div class="content">
              <div class="well">
                <div class="latest">Latest repository: <a href="#"></a> (<span></span>)</div>
                <div class="oldest">Oldest repository: <a href="#"></a> (<span></span>)</div>
                <div class="processed">Processed: <b>0</b> (<span></span>% of total)</div>
                <div class="total">Total: <b>0</b></div>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-4 octocat">
          <img src="static/app/octocat.png" alt="GitHub - Octocat">
        </div>
      </div>
    </div>
  </div>

  <div id="stats">
    <div class="container">
      <ul class="nav navbar-nav">
          <li><a href="/#top-10">Top 10</a></li>
          <li><a href="/#percentage">Percentage</a></li>
          <li><a href="/#monthly-trend">Monthly trend</a></li>
        </ul>
    </div>
  </div>

  <div class="container" id="pages">
    <p class="alert alert-info loading"><i class="glyphicon glyphicon-refresh"></i> Loading...</p>
    <div class="page" id="page-top-10" data-callback="pageTop10">
      <h2>Top 10 language on GitHub</h2>
      <div id="page-top-10-data"></div>
    </div>
    <div class="page" id="page-percentage" data-callback="pagePercentage">
      <h2>Percent all GitHub repositories</h2>
      <div id="page-percentage-data"></div>
    </div>
    <div class="page" id="page-monthly-trend" data-callback="pageMonthlyTrend">
      <h2>New repositories trend (per month)</h2>
      <div id="page-monthly-trend-data"></div>
    </div>
  </div>

  <div class="container">
    <footer>
        <p>by <a href="http://adrian.pietka.me">Adrian Piętka</a></p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script src="static/libs/d3.pie.js"></script>
  <script src="static/libs/d3.legend.js"></script>
  <script src="static/app/tabulate.js"></script>
  <script src="static/app/pages/top-10.js"></script>
  <script src="static/app/pages/percentage.js"></script>
  <script src="static/app/pages/monthly-trend.js"></script>
  <script src="static/app/scripts.js"></script>
</body>
</html>